
         ::placeholder {
            color: black;
            opacity: 1;
        }
        .container {
            background: #ebebeb;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            height: 465px;
            width: 350px;
            box-shadow: -3px -2px 6px #6c6565, 7px 9px 25px #0b0b0b;
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        input {
            height: 30px;
            border: 2px solid #e1dede69;
            border-radius: 5px;
            background: #c0b8b8;
            color: rgb(25, 26, 25);
            text-align: center;
            outline: none;
            font-size: 15px;
        }
        
        .form-item-username {
            margin: 5px;
            display: flex;
            padding-bottom: 10px;
        }
        
        .form-item-username input {
            width: 150px;
            margin: 0 5px;
        }
        
        .form-item {
            margin: 0 auto;
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
        }
        
        .form-item input {
            margin: 5px;
            width: 100%;
        }
        
        .accept-box {
            display: flex;
            align-items: center;
            margin: auto;
            font-size: 15px;
        }
        
        a {
            color: rgb(38, 212, 32);
        }
        
        a:hover {
            color: grey
        }
        
        .form-btns {
            display: flex;
            flex-direction: column;
            padding: 10px 0;
        }
        
        .form-btns button {
            margin: auto;
            font-size: 20px;
            padding: 8px;
            width: 280px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: rgb(75, 61, 61);
            background: #178f0c;
        }
        
        .form-btns button:disabled {
            cursor: not-allowed;
            background: #ffffff !important;
            color: rgb(8, 196, 71) !important;
        }
        
        .form-btns button:hover {
            background: #a3a09a;
            color: antiquewhite;
        }
        
        .options {
            padding-top: 15px;
            margin: auto;
            font-size: 13px;
        }
        
        p {
            font-size: 12px;
        }
        
        .pwd-format {
            position: relative;
            color: rgb(12, 160, 37);
            background: rgb(243, 234, 243);
            font-size: 11px;
            width: 150px;
            padding: 5px;
            border-radius: 5px;
            top: 112px;
            right: -81px;
            z-index: 2;
            display: none;
        }
